<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yullmaster.gram.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`email`
			, `name`
			, `loginId`
			, `password`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{email}
			, #{name}
			, #{loginId}
			, #{password}
			, now()
			, now()
		)
	</insert>
</mapper>